language: node_js
node_js:
- '4.2'
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- npm install -g rackt-cli@0.5.4
script:
- npm run lint
- npm run test
notifications:
  email: false
  slack:
    secure: qnJgJ3mwYwMago/GszclznZYE7CkQD96fox6ppZufYCf7MyZKZEx/ODKueFsxa2Oh/LUADRZMdMZt1GAFWoBFhuGl03PziDFpLfD53uQGPPXSLOiYQUXbDjciVNdOU7W0uzBOmVz75QW74o2UY38dGpF+kQ2nfoiGGOPmdbeo9hy+A/nLumzxDg/gDb1ZOPUv4VP/VmLSHwJYea88RZfykBz19fEFwtmjV7HM0k5lJ6ctnzAf4cVvRYZgoIVlLTPkDiqzCyTFy3BZ9H+9ZdbQ3VGm8bnv5pSvhXC1ucarKoKnpdjP4ghJ/4TW0lFX6rl97QA9q06/1b6SYgPJxV/GD+aPXwW0oXE9wQBjPD0ifHzYY6OIOysjzMqT3J/9PwhTt27fhwvUlrRDrezHl6nPOlbuoqyeA6TVuau0WbG0pLm093yfgszVn/VPgpoeXDJi6rt3Z1RVsftjiw23W89vQl4Yu3i6Qcz9mvVQw3XC6VOkWzuSQRCQ0TO6ZT7NilLiyIl3tgauhfvwg4RC4NJSleeguI3hEPtWZC1pqn41wVGlawN7xp2G2BohSm2AxeKxh4Pi5jzj72vOa+bUTTf2zKJ01nU38rmMxaqa2qopeRYa9jGV14FrkkOj3R7gOhrVO+sJdtfboKVZjomyPduGEkx9aWnc63E5XE5PkXv9GM=
