body {
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
}

.example {
  padding: 0 25px;
}

.i {
    width: 96px;
    height: 96px;
}
.i--blue {
    fill: #0000CC;
}
.i--white {
    fill: #FFFFFF;
    stroke:black;
    stroke-width:3;
    opacity:0.7;
}
.i--red {
    fill: #cc0000;
}
.middle-icon {
    margin-left:10px;
    margin-right:10px;
}

.footer-menu {
    padding: 25px 25px;
}