body {
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
}

.example {
  padding: 0 25px;
}

.i {
    width: 96px;
    height: 96px;
}
.i--blue {
    fill: #0000CC;
}
.i--white {
    fill: #FFFFFF;
    stroke:black;
    stroke-width:3;
    opacity:0.7;
}
.i--red {
    fill: #cc0000;
}
.middle-icon {
    margin-left:10px;
    margin-right:10px;
}

.footer-menu {
    padding: 25px 25px;
}



.btn {
    display: inline-block;
    text-align: center;
    margin: 0;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    padding: .5em;
    line-height: 1;
    border: solid #333 2px;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    color: #fff;
    background-color: #333;
}

.btn .i {
    width: 64px;
    height: 64px;
    fill: currentColor;
}
